@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Montserrat&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
body{
  position:relative;
}
.interface-wrapper{
  position: absolute;
  margin:4rem;
}
.health-wrapper, .score-wrapper{
  display: flex;

}
  .health-bar {
    width: 300px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .health-bar-fill {
  
    height: 100%;
    background-image: linear-gradient(to right, #26cad9,#2671d9); 
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s ease-in-out; 
  }

  .health-bar-text {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-shadow: 0 0 5px black;  */
  }

  .health-bar-icon img{
    width:40px;
    height: auto;
    margin-right: 0.5rem;
  }
  .score {
    margin: 0.5rem;
  }
  .score h1{
    margin-left: 0.75rem;
    font-size: 35px;
    font-family: 'Kanit', sans-serif;
    color: #3226b5;
  }
  .score-icon img{
    width:55px;
    height: auto;
    margin-right: 1rem;
  }